* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    }

html  {
  font-family: 'garbata', 'hatton', Arial, Helvetica, sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'garbata'; 
  src: url('./fonts/garbata/GarbataTrial-Regular.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}
@font-face {
  font-family: 'hatton'; 
  src: url('./fonts/hatton-font-family/PP-Hatton-Medium-500.otf') format('opentype');
  font-weight: normal; 
  font-style: normal; 
}

body {
  line-height: 1.6;
  background: #e7dfd8;
  color: #5e5343;
}

nav {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center the nav items vertically */
  height: 80px;
  justify-content: space-around;
  padding: 0rem calc((100vw - 1300px) / 2);
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  color: #5e5343;
  padding: 0 1.5rem;
}

nav a:hover {
  color: #985507;
}

.frame {
  border: 1px solid #000000; /* Frame border color */
  padding: 10px; /* Space inside the frame */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically centered */
  margin: 75px; /* Space outside the frame */
  margin-top: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a slight shadow */
  
}

.text-content {
  flex: 1; /* Allow text to grow */
  padding-right: 1px; /* Space between text and image */
  padding-left: 20px;

}

h1 {
  font-size: 3em; /* Large font size for your name */
  margin-top: 5px; /* Remove default margin */
}

.quote {
  font-size: 1.5em;
}

.landing-page-pic {
  width: 350px; /* Set width of the picture */
  height: auto; /* Maintain aspect ratio */
  margin-left: 10px; /* Add space between the text and image */ 
}

.linkedin-logo, .facebook-logo, .instagram-logo {
  width: 40px; /* Set width of the picture */
  height: auto; /* Maintain aspect ratio */
  margin-left: 10px; /* Add space between the text and image */ 
}

.about-me-1-pic {
  width: auto; /* Set width of the picture */
  height: 300px; /* Maintain aspect ratio */
  margin-left: 10px; /* Add space between the text and image */ 
  border: 1px solid #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a slight shadow */
}

.about-me-2-pic {
  width: auto; /* Set width of the picture */
  height: 300px; /* Maintain aspect ratio */
  margin-left: 10px; /* Add space between the text and image */ 
  border: 1px solid #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a slight shadow */
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px;
} 

.about p, .about h2 {
  margin-bottom: 20px;
  margin-left: 550px;
}

.right p {
  margin-bottom: 20px;
}

.professional-pic {
  width: 350px; /* Set width of the picture */
  height: auto; /* Maintain aspect ratio */
  margin-left: 100px; /* Add space between the text and image */ 
  border: 1px solid #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a slight shadow */
  
}

.professional {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.professional .left {
  width: 50%;
  padding: 20px;
  float: left;
}

.professional .right {
  width: 50%;
  background-color: #efe9e4;
  padding: 20px;
  float: right;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.button {
  width: 30%;
  height: 30px;
  background-color:#985507;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.button:hover, .button2:hover {
  background-color: #5e5343;
}

.button a {
  text-decoration: none;  
  color: inherit;
}