* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    }

html  {
  font-family: 'garbata', 'hatton', Arial, Helvetica, sans-serif;
  font-size: 20px;
}

@font-face {
  font-family: 'garbata'; 
  src: url('./fonts/garbata/GarbataTrial-Regular.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}
@font-face {
  font-family: 'hatton'; 
  src: url('./fonts/hatton-font-family/PP-Hatton-Medium-500.otf') format('opentype');
  font-weight: normal; 
  font-style: normal; 
}

body {
  line-height: 1.6;
  background: #e7dfd8;
  color: #5e5343;
}

nav {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center the nav items vertically */
  height: 80px;
  justify-content: space-around;
  padding: 0rem calc((100vw - 1300px) / 2);
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  color: #5e5343;
  padding: 0 1.5rem;
}

nav a:hover {
  color: #985507;
}

.frame {
  border: 1px solid #000000; /* Frame border color */
  padding: 10px; /* Space inside the frame */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically centered */
  margin: 75px; /* Space outside the frame */
  margin-top: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a slight shadow */
  
}

.text-content {
  flex: 1; /* Allow text to grow */
  padding-right: 1px; /* Space between text and image */
  padding-left: 20px;
  
}

h1 {
  font-size: 3em; /* Large font size for your name */
  margin-top: 5px; /* Remove default margin */
}

.quote {
  font-size: 1.5em;
}

.landing-page-pic {
  width: 350px; /* Set width of the picture */
  height: auto; /* Maintain aspect ratio */
  margin-left: 10px; /* Add space between the text and image */ 
}

.about-me-1-pic {
  width: auto; /* Set width of the picture */
  height: 300px; /* Maintain aspect ratio */
  margin-left: 10px; /* Add space between the text and image */ 
  border: 1px solid #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a slight shadow */
}

.about-me-2-pic {
  width: auto; /* Set width of the picture */
  height: 300px; /* Maintain aspect ratio */
  margin-left: 10px; /* Add space between the text and image */ 
  border: 1px solid #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a slight shadow */
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px;
} 

.about p, .about h2 {
  margin-bottom: 20px;
  margin-left: 550px;
}

.professional-pic {
  width: 350px; /* Set width of the picture */
  height: auto; /* Maintain aspect ratio */
  margin-left: 10px; /* Add space between the text and image */ 
  border: 1px solid #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a slight shadow */
}

.professional {
  display: flex;
  flex-direction:column;
  width: 100%;
}

.professional .left {
  width: 50%;
  padding: 20px;
  float: left;
}

.professional .right {
  width: 50%;
  background-color: #efe9e4;
  padding: 20px;
  float: right;
}

/* header {
  height: 100vh;
  background-color: #e7dfd8;
  color: white;
  padding: 10px 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
} */

/* header h1 {
  font-size: 2.5rem;
} */

/* nav {
  margin: 10px 0;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
} */




/* section {
  padding: 60px 20px;
}

h2 {
  color: #4CAF50;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
} */

/* .about, .skills, .education, .interests, .work, .contact {
  background: #fff;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.about p, .skills p, .education p, .interests p, .work p, .contact p {
  font-size: 1.1rem;
  color: #666;
}

.skills ul, .education ul, .interests ul {
  list-style: none;
  padding-left: 0;
}

.skills li, .education li, .interests li {
  padding: 8px 0;
}

footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px 0;
} */